<?php echo $header; ?>
<?php if ($attention) { ?>
<div class="container">
<div class="attention">
	<?php echo $attention; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" />
</div>
</div>
<?php } ?>
<?php if ($success) { ?>
<div class="container">
<div class="success"><?php echo $success; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
</div>
<?php } ?>
<?php if ($error_warning) { ?>
<div class="container">
<div class="warning"><?php echo $error_warning; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
</div>
<?php } ?>
<?php echo $column_left; ?><?php echo $column_right; ?>
<content>
	<div id="container" class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 clearfix">
				<div id="content"><?php echo $content_top; ?>
					<div class="content-top-det clearfix">
						<div class="focus clearfix">
							<div class="breadcrumb">
								<?php foreach ($breadcrumbs as $breadcrumb) { ?>
								<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
								<?php } ?>
							</div>
							<div class="col-md-12">
								<h4>
									<?php echo $heading_title; ?>
									<?php if ($weight) { ?>
									&nbsp;(<?php echo $weight; ?>)
									<?php } ?>
								</h4>
								<div class="col-md-12">
									<div class="row">
										<div class="content">
											<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
											<div class="cart-info flip-scroll">
												<table class="table table-striped text-right">
													<thead>
														<tr>
															<td class="image"><?php echo $column_image; ?></td>
															<td class="name"><?php echo $column_name; ?></td>
															<td class="model"><?php echo $column_model; ?></td>
															<td class="quantity"><?php echo $column_quantity; ?></td>															
															<td class="price"><?php echo $column_price; ?></td>
															<td class="total"><?php echo $column_total; ?></td>
														</tr>
													</thead>
													<tbody>
														<?php foreach ($products as $product) { ?>
															<?php if($product['recurring']): ?>
																<tr>
																	<td colspan="6" style="border:none;"><image src="catalog/view/theme/default/image/reorder.png" alt="" title="" style="float:left;" /><span style="float:left;line-height:18px; margin-left:10px;"> 
																			<strong><?php echo $text_recurring_item ?></strong>
																			<?php echo $product['profile_description'] ?>
																	</td>
																</tr>
															<?php endif; ?>
														<tr>
															<td class="image"><?php if ($product['thumb']) { ?>
																<a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>
																<?php } ?></td>
															<td class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
																<?php if (!$product['stock']) { ?>
																<span class="stock">***</span>
																<?php } ?>
																<div>
																	<?php foreach ($product['option'] as $option) { ?>
																	- <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small><br />
																	<?php } ?>
																	<?php if($product['recurring']): ?>
																	- <small><?php echo $text_payment_profile ?>: <?php echo $product['profile_name'] ?></small>
																	<?php endif; ?>
																</div>
																<?php if ($product['reward']) { ?>
																<small><?php echo $product['reward']; ?></small>
																<?php } ?></td>
															<td class="model"><?php echo $product['model']; ?></td>
															<td class="quantity"><input type="text" name="quantity[<?php echo $product['key']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" />
																&nbsp;
																<input type="image" src="catalog/view/theme/default/image/update.png" alt="<?php echo $button_update; ?>" title="<?php echo $button_update; ?>" />
																&nbsp;<a href="<?php echo $product['remove']; ?>"><img src="catalog/view/theme/default/image/remove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" /></a></td>
															<td class="price"><?php echo $product['price']; ?></td>
															<td class="total"><?php echo $product['total']; ?></td>
														</tr>
														<?php } ?>
														<?php foreach ($vouchers as $vouchers) { ?>
														<tr>
															<td class="image"></td>
															<td class="name"><?php echo $vouchers['description']; ?></td>
															<td class="model"></td>
															<td class="quantity"><input type="text" name="" value="1" size="1" disabled="disabled" />
																&nbsp;<a href="<?php echo $vouchers['remove']; ?>"><img src="catalog/view/theme/default/image/remove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" /></a></td>
															<td class="price"><?php echo $vouchers['amount']; ?></td>
															<td class="total"><?php echo $vouchers['amount']; ?></td>
														</tr>
														<?php } ?>
													</tbody>
												</table>
											</div>
										</form>

										<?php if ($coupon_status || $voucher_status || $reward_status || $shipping_status) { ?>
										<h2><?php echo $text_next; ?></h2>
										<div class="content">
											<p><?php echo $text_next_choice; ?></p>
											<table class="radio table table-striped">
												<?php if ($coupon_status) { ?>
												<tr class="highlight">
													<td><?php if ($next == 'coupon') { ?>
														<input type="radio" name="next" value="coupon" id="use_coupon" checked="checked" />
														<?php } else { ?>
														<input type="radio" name="next" value="coupon" id="use_coupon" />
														<?php } ?></td>
													<td><label for="use_coupon"><?php echo $text_use_coupon; ?></label></td>
												</tr>
												<?php } ?>
												<?php if ($voucher_status) { ?>
												<tr class="highlight">
													<td><?php if ($next == 'voucher') { ?>
														<input type="radio" name="next" value="voucher" id="use_voucher" checked="checked" />
														<?php } else { ?>
														<input type="radio" name="next" value="voucher" id="use_voucher" />
														<?php } ?></td>
													<td><label for="use_voucher"><?php echo $text_use_voucher; ?></label></td>
												</tr>
												<?php } ?>
												<?php if ($reward_status) { ?>
												<tr class="highlight">
													<td><?php if ($next == 'reward') { ?>
														<input type="radio" name="next" value="reward" id="use_reward" checked="checked" />
														<?php } else { ?>
														<input type="radio" name="next" value="reward" id="use_reward" />
														<?php } ?></td>
													<td><label for="use_reward"><?php echo $text_use_reward; ?></label></td>
												</tr>
												<?php } ?>
											</table>
										</div>
										<div class="cart-module">
											<div id="coupon" class="content" style="display: <?php echo ($next == 'coupon' ? 'block' : 'none'); ?>;">
												<form class="form-inline" action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
													<div class="form-group">
														<label><?php echo $entry_coupon; ?></label>
														<input type="text" name="coupon" class="form-control" value="<?php echo $coupon; ?>" />
														<input type="hidden" name="next"  value="coupon" />
													</div>
													<input type="submit" value="<?php echo $button_coupon; ?>" class="btn btn-primary" />
												</form>
											</div>
											<div id="voucher" class="content form-inline" style="display: <?php echo ($next == 'voucher' ? 'block' : 'none'); ?>;">
												<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
													<div class="form-group">
														<label><?php echo $entry_voucher; ?></label>
														<input type="text" name="voucher" class="form-control" value="<?php echo $voucher; ?>" />
														<input type="hidden" name="next" value="voucher" />
													</div>
													<input type="submit" value="<?php echo $button_voucher; ?>" class="btn btn-primary" />
												</form>
											</div>
											<div id="reward" class="content" style="display: <?php echo ($next == 'reward' ? 'block' : 'none'); ?>;">
												<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
													<?php echo $entry_reward; ?>&nbsp;
													<input type="text" name="reward" value="<?php echo $reward; ?>" />
													<input type="hidden" name="next" value="reward" />
													&nbsp;
													<input type="submit" value="<?php echo $button_reward; ?>" class="button" />
												</form>
											</div>
											<div id="shipping" class="content" style="display: <?php echo ($next == 'shipping' ? 'block' : 'none'); ?>;">
												<p><?php echo $text_shipping_detail; ?></p>
												<table table table-striped>
													<tr>
														<td><span class="required">*</span> <?php echo $entry_country; ?></td>
														<td><select name="country_id">
																<option value=""><?php echo $text_select; ?></option>
																<?php foreach ($countries as $country) { ?>
																<?php if ($country['country_id'] == $country_id) { ?>
																<option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
																<?php } else { ?>
																<option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
																<?php } ?>
																<?php } ?>
															</select></td>
													</tr>
													<tr>
														<td><span class="required">*</span> <?php echo $entry_zone; ?></td>
														<td><select name="zone_id">
															</select></td>
													</tr>
													<tr>
														<td><span id="postcode-required" class="required">*</span> <?php echo $entry_postcode; ?></td>
														<td><input type="text" name="postcode" value="<?php echo $postcode; ?>" /></td>
													</tr>
												</table>
												<input type="button" value="<?php echo $button_quote; ?>" id="button-quote" class="button" />
											</div>
										</div>
										<?php } ?>
										<?php 
										if ($data_info_price==false) {
										if (!$custom_size) { 
										?>
										<div class="cart-total">
											<table id="total" class="table table-striped">
												<?php foreach ($totals as $total) { ?>
												<tr>
													<td><b><?php echo $total['title']; ?>:</b></td>
													<td><?php echo $total['text']; ?></td>
												</tr>
												<?php } ?>
											</table>
										</div>
										<?php 
										}
										}
										?>
										<div class="buttons">
											<div class="right">							
												<a href="<?php echo $continue; ?>" class="button btn btn-primary btn-shopping"><?php echo $button_shopping; ?></a>
												<a href="<?php echo $checkout; ?>" class="button btn btn-primary btn-checkout"><?php echo $button_checkout; ?></a>
											</div>
										</div>

										</div>
									</div>
								</div>
							</div>
							<?php echo $content_bottom; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
<script type="text/javascript"><!--
$('input[name=\'next\']').bind('change', function() {
	$('.cart-module > div').hide();
	
	$('#' + this.value).show();
});
//--></script>
<?php if ($shipping_status) { ?>
<script type="text/javascript"><!--
$('#button-quote').live('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/quote',
		type: 'post',
		data: 'country_id=' + $('select[name=\'country_id\']').val() + '&zone_id=' + $('select[name=\'zone_id\']').val() + '&postcode=' + encodeURIComponent($('input[name=\'postcode\']').val()),
		dataType: 'json',		
		beforeSend: function() {
			$('#button-quote').attr('disabled', true);
			$('#button-quote').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
		},
		complete: function() {
			$('#button-quote').attr('disabled', false);
			$('.wait').remove();
		},		
		success: function(json) {
			$('.success, .warning, .attention, .error').remove();			
						
			if (json['error']) {
				if (json['error']['warning']) {
					$('#notification').html('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
					
					$('.warning').fadeIn('slow');
					
					$('html, body').animate({ scrollTop: 0 }, 'slow'); 
				}	
							
				if (json['error']['country']) {
					$('select[name=\'country_id\']').after('<span class="error">' + json['error']['country'] + '</span>');
				}	
				
				if (json['error']['zone']) {
					$('select[name=\'zone_id\']').after('<span class="error">' + json['error']['zone'] + '</span>');
				}
				
				if (json['error']['postcode']) {
					$('input[name=\'postcode\']').after('<span class="error">' + json['error']['postcode'] + '</span>');
				}					
			}
			
			if (json['shipping_method']) {
				html  = '<h2><?php echo $text_shipping_method; ?></h2>';
				html += '<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">';
				html += '  <table class="radio">';
				
				for (i in json['shipping_method']) {
					html += '<tr>';
					html += '  <td colspan="3"><b>' + json['shipping_method'][i]['title'] + '</b></td>';
					html += '</tr>';
				
					if (!json['shipping_method'][i]['error']) {
						for (j in json['shipping_method'][i]['quote']) {
							html += '<tr class="highlight">';
							
							if (json['shipping_method'][i]['quote'][j]['code'] == '<?php echo $shipping_method; ?>') {
								html += '<td><input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" id="' + json['shipping_method'][i]['quote'][j]['code'] + '" checked="checked" /></td>';
							} else {
								html += '<td><input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" id="' + json['shipping_method'][i]['quote'][j]['code'] + '" /></td>';
							}
								
							html += '  <td><label for="' + json['shipping_method'][i]['quote'][j]['code'] + '">' + json['shipping_method'][i]['quote'][j]['title'] + '</label></td>';
							html += '  <td style="text-align: right;"><label for="' + json['shipping_method'][i]['quote'][j]['code'] + '">' + json['shipping_method'][i]['quote'][j]['text'] + '</label></td>';
							html += '</tr>';
						}		
					} else {
						html += '<tr>';
						html += '  <td colspan="3"><div class="error">' + json['shipping_method'][i]['error'] + '</div></td>';
						html += '</tr>';						
					}
				}
				
				html += '  </table>';
				html += '  <br />';
				html += '  <input type="hidden" name="next" value="shipping" />';
				
				<?php if ($shipping_method) { ?>
				html += '  <input type="submit" value="<?php echo $button_shipping; ?>" id="button-shipping" class="button" />';	
				<?php } else { ?>
				html += '  <input type="submit" value="<?php echo $button_shipping; ?>" id="button-shipping" class="button" disabled="disabled" />';	
				<?php } ?>
							
				html += '</form>';
				
				$.colorbox({
					overlayClose: true,
					opacity: 0.5,
					width: '600px',
					height: '400px',
					href: false,
					html: html
				});
				
				$('input[name=\'shipping_method\']').bind('change', function() {
					$('#button-shipping').attr('disabled', false);
				});
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('select[name=\'country_id\']').bind('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
		},
		complete: function() {
			$('.wait').remove();
		},			
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#postcode-required').show();
			} else {
				$('#postcode-required').hide();
			}
			
			html = '<option value=""><?php echo $text_select; ?></option>';
			
			if (json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
							html += '<option value="' + json['zone'][i]['zone_id'] + '"';
						
					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
								html += ' selected="selected"';
						}
	
						html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
			}
			
			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
//--></script>
<?php } ?>
<?php echo $footer; ?>
