<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<content>
	<div id="container" class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 clearfix">
				<div id="content"><?php echo $content_top; ?>
					<div class="content-top-det clearfix">
						<div class="focus clearfix">
							<div class="breadcrumb">
								<?php foreach ($breadcrumbs as $breadcrumb) { ?>
								<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
								<?php } ?>
							</div>
							<h1><?php echo $heading_title; ?></h1>
							<hr>
							<b><?php echo $text_critea; ?></b>
							<div class="content form-inline">
								<p class="form-group">
									<?php if ($search) { ?>
									<input type="text" class="form-control" name="search" value="<?php echo $search; ?>" />
									<?php } else { ?>
									<input type="text" class="form-control" name="search" value="<?php echo $search; ?>" onclick="this.value = '';" onkeydown="this.style.color = '000000'" style="color: #999;" />
									<?php } ?>
									
									<select name="category_id" class="form-control">
										<option value="0"><?php echo $text_category; ?></option>
										<?php foreach ($categories as $category_1) { ?>
										<?php if ($category_1['category_id'] == $category_id) { ?>
										<option value="<?php echo $category_1['category_id']; ?>" selected="selected"><?php echo $category_1['name']; ?></option>
										<?php } else { ?>
										<option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>
										<?php } ?>
										<?php foreach ($category_1['children'] as $category_2) { ?>
										<?php if ($category_2['category_id'] == $category_id) { ?>
										<option value="<?php echo $category_2['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
										<?php } else { ?>
										<option value="<?php echo $category_2['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
										<?php } ?>
										<?php foreach ($category_2['children'] as $category_3) { ?>
										<?php if ($category_3['category_id'] == $category_id) { ?>
										<option value="<?php echo $category_3['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
										<?php } else { ?>
										<option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
										<?php } ?>
										<?php } ?>
										<?php } ?>
										<?php } ?>
									</select>

									<?php if ($sub_category) { ?>
									<input type="checkbox" name="sub_category" value="1" id="sub_category" checked="checked" />
									<?php } else { ?>
									<input type="checkbox" name="sub_category" value="1" id="sub_category" />
									<?php } ?>
									<label for="sub_category"><?php echo $text_sub_category; ?></label>
								</p>
								<?php if ($description) { ?>
								<input type="checkbox" name="description" value="1" id="description" checked="checked" />
								<?php } else { ?>
								<input type="checkbox" name="description" value="1" id="description" />
								<?php } ?>
								<label for="description"><?php echo $entry_description; ?></label>
							</div>
							<br/>
							<div class="">
								<input type="button" value="<?php echo $button_search; ?>" id="button-search" class="button btn btn-primary" />
							</div>

							<h2 class="min-left"><?php echo $text_search; ?></h2>
							<hr>
							<?php if ($products) { ?>
							<div class="col-md-12">
								<div class="product-filter form-inline pull-right src-product">
									<div class="limit form-group">
										<label><?php echo $text_limit; ?></label>
										<select onchange="location = this.value;" class="form-control">
											<?php foreach ($limits as $limits) { ?>
											<?php if ($limits['value'] == $limit) { ?>
											<option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
											<?php } else { ?>
											<option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
											<?php } ?>
											<?php } ?>
										</select>
									</div>
									<div class="sort form-group">
										<label><?php echo $text_sort; ?></label>
										<select onchange="location = this.value;" class="form-control">
											<?php foreach ($sorts as $sorts) { ?>
											<?php if ($sorts['value'] == $sort . '-' . $order) { ?>
											<option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
											<?php } else { ?>
											<option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
											<?php } ?>
											<?php } ?>
										</select>
									</div>
								</div>
								<br/>
							</div>
							<?php /*
							<div class="product-list">
								<?php foreach ($products as $product) { ?>
								<div class="col-md-4">
									<?php if ($product['thumb']) { ?>
									<div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
									<?php } ?>
									<div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
									<div class="description"><?php echo $product['description']; ?></div>
									<?php if ($product['price']) { ?>
									<div class="price">
										<?php if (!$product['special']) { ?>
										<?php echo $product['price']; ?>
										<?php } else { ?>
										<span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
										<?php } ?>
										<?php if ($product['tax']) { ?>
										<br />
										<span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
										<?php } ?>
									</div>
									<?php } ?>
									<?php if ($product['rating']) { ?>
									<div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
									<?php } ?>
									<div class="cart"><input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" /></div>
									<div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist; ?></a></div>
									<div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');"><?php echo $button_compare; ?></a></div>
								</div>
								<?php } ?>
							</div>
							*/ ?>
							<?php foreach ($products as $product) { ?>
							<div class="product-list">
								<div class="col-md-4 clearfix text-center">
									<div class="row">
										<div class="focus-top clearfix inf-img">
											<div class="col-md-12 pros">
												<div class="box-product">
													<div>
														<div class="col-md-3">
															<?php if ($product['thumb']) { ?>
																<div class="product-detail-img">
																	<div class="loop-gall col-md-4 text-center">
																		<div>
																			<div class="image">
																				<a href="<?php echo $product['href']; ?>" class="link-det-img">
																					<img class="img-det" src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" />
																				</a>
																			</div>
																		</div>
																	</div>
																 </div>
															<?php } ?>
														</div>
													</div>
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div>
							<?php } ?>
							<div class="row">
								<div class="col-md-12">
									<!-- <div class="pagination"><?php echo $pagination; ?></div> -->
									<div class="gall-pagination col-md-11 col-xs-11 col-xs-offset-1 text-right pagination">
										<ul class="pagination">
											<!-- <li> -->
												<?php echo $pagination; ?>
											<!-- </li> -->
										</ul>
									</div>
								</div>
							</div>
							<?php } else { ?>
							<div class="content"><?php echo $text_empty; ?></div>
							<?php }?>
							<?php echo $content_bottom; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
<script type="text/javascript"><!--
$('#content input[name=\'search\']').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').bind('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').attr('disabled', 'disabled');
		$('input[name=\'sub_category\']').removeAttr('checked');
	} else {
		$('input[name=\'sub_category\']').removeAttr('disabled');
	}
});

$('select[name=\'category_id\']').trigger('change');

$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';
	
	var search = $('#content input[name=\'search\']').attr('value');
	
	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').attr('value');
	
	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}
	
	var sub_category = $('#content input[name=\'sub_category\']:checked').attr('value');
	
	if (sub_category) {
		url += '&sub_category=true';
	}
		
	var filter_description = $('#content input[name=\'description\']:checked').attr('value');
	
	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

function display(view) {
	if (view == 'list') {
		$('.product-grid').attr('class', 'product-list');
		
		$('.product-list > div').each(function(index, element) {
			// html  = '<div class="right">';
			// html += '  <div class="cart">' + $(element).find('.cart').html() + '</div>';
			// html += '  <div class="wishlist">' + $(element).find('.wishlist').html() + '</div>';
			// html += '  <div class="compare">' + $(element).find('.compare').html() + '</div>';
			// html += '</div>';			
			
			html = '<div class="left">';
			
			var image = $(element).find('.image').html();
			
			if (image != null) { 
				html += '<div class="image">' + image + '</div>';
			}
			
			var price = $(element).find('.price').html();
			
			if (price != null) {
				html += '<div class="price">' + price  + '</div>';
			}
						
			// html += '  <div class="name">' + $(element).find('.name').html() + '</div>';
			// html += '  <div class="description">' + $(element).find('.description').html() + '</div>';
			
			var rating = $(element).find('.rating').html();
			
			if (rating != null) {
				html += '<div class="rating">' + rating + '</div>';
			}
				
			html += '</div>';
						
			$(element).html(html);
		});		
		
		$('.display').html('<b><?php echo $text_display; ?></b> <?php echo $text_list; ?> <b>/</b> <a onclick="display(\'grid\');"><?php echo $text_grid; ?></a>');
		
		$.totalStorage('display', 'list'); 
	} else {
		$('.product-list').attr('class', 'product-grid');
		
		$('.product-grid > div').each(function(index, element) {
			html = '';
			
			var image = $(element).find('.image').html();
			
			if (image != null) {
				html += '<div class="image">' + image + '</div>';
			}
			
			// html += '<div class="name">' + $(element).find('.name').html() + '</div>';
			// html += '<div class="description">' + $(element).find('.description').html() + '</div>';
			
			var price = $(element).find('.price').html();
			
			if (price != null) {
				html += '<div class="price">' + price  + '</div>';
			}	
					
			var rating = $(element).find('.rating').html();
			
			if (rating != null) {
				html += '<div class="rating">' + rating + '</div>';
			}
						
			html += '<div class="cart">' + $(element).find('.cart').html() + '</div>';
			html += '<div class="wishlist">' + $(element).find('.wishlist').html() + '</div>';
			html += '<div class="compare">' + $(element).find('.compare').html() + '</div>';
			
			$(element).html(html);
		});	
					
		$('.display').html('<b><?php echo $text_display; ?></b> <a onclick="display(\'list\');"><?php echo $text_list; ?></a> <b>/</b> <?php echo $text_grid; ?>');
		
		$.totalStorage('display', 'grid');
	}
}

view = $.totalStorage('display');

if (view) {
	display(view);
} else {
	display('list');
}
//--></script> 
<?php echo $footer; ?>