<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<content>
	<div id="container" class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 clearfix">
				<div id="content"><?php echo $content_top; ?>
					<div class="content-top-det clearfix">
						<div class="focus clearfix">
							<div class="breadcrumb">
								<?php foreach ($breadcrumbs as $breadcrumb) { ?>
								<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
								<?php } ?>
							</div>
							<h1><?php echo $heading_title; ?></h1>
							<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
								<h2><?php echo $text_edit_address; ?></h2>
								<div class="content">
									<table class="table table-striped">
										<tr>
											<td><span class="required">*</span> <?php echo $entry_firstname; ?></td>
											<td><input type="text" class="form-control large-field" name="firstname" value="<?php echo $firstname; ?>" />
												<?php if ($error_firstname) { ?>
												<span class="error"><?php echo $error_firstname; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_lastname; ?></td>
											<td><input type="text" class="form-control large-field" name="lastname" value="<?php echo $lastname; ?>" />
												<?php if ($error_lastname) { ?>
												<span class="error"><?php echo $error_lastname; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><?php echo $entry_company; ?></td>
											<td><input type="text" class="form-control large-field" name="company" value="<?php echo $company; ?>" /></td>
										</tr>
										<?php if ($company_id_display) { ?>
										<tr>
											<td><?php echo $entry_company_id; ?></td>
											<td><input type="text" class="form-control large-field" name="company_id" value="<?php echo $company_id; ?>" />
												<?php if ($error_company_id) { ?>
												<span class="error"><?php echo $error_company_id; ?></span>
												<?php } ?></td>
										</tr>
										<?php } ?>
										<?php if ($tax_id_display) { ?>
										<tr>
											<td><?php echo $entry_tax_id; ?></td>
											<td><input type="text" class="form-control large-field" name="tax_id" value="<?php echo $tax_id; ?>" />
												<?php if ($error_tax_id) { ?>
												<span class="error"><?php echo $error_tax_id; ?></span>
												<?php } ?></td>
										</tr>
										<?php } ?>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_address_1; ?></td>
											<td><input type="text" class="form-control large-field" name="address_1" value="<?php echo $address_1; ?>" />
												<?php if ($error_address_1) { ?>
												<span class="error"><?php echo $error_address_1; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><?php echo $entry_address_2; ?></td>
											<td><input type="text" class="form-control large-field" name="address_2" value="<?php echo $address_2; ?>" /></td>
										</tr>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_city; ?></td>
											<td><input type="text" class="form-control large-field" name="city" value="<?php echo $city; ?>" />
												<?php if ($error_city) { ?>
												<span class="error"><?php echo $error_city; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_suburb; ?></td>
											<td><input type="text" class="form-control large-field" name="suburb" value="<?php echo $suburb; ?>" />
												<?php if ($error_suburb) { ?>
												<span class="error"><?php echo $error_suburb; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><span id="postcode-required" class="required">*</span> <?php echo $entry_postcode; ?></td>
											<td><input type="text" class="form-control large-field" name="postcode" value="<?php echo $postcode; ?>" />
												<?php if ($error_postcode) { ?>
												<span class="error"><?php echo $error_postcode; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_country; ?></td>
											<td><select name="country_id" class="form-control large-field">
													<option value=""><?php echo $text_select; ?></option>
													<?php foreach ($countries as $country) { ?>
													<?php if ($country['country_id'] == $country_id) { ?>
													<option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
													<?php } else { ?>
													<option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
													<?php } ?>
													<?php } ?>
												</select>
												<?php if ($error_country) { ?>
												<span class="error"><?php echo $error_country; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><span class="required">*</span> <?php echo $entry_zone; ?></td>
											<td><select name="zone_id" class="form-control large-field">
												</select>
												<?php if ($error_zone) { ?>
												<span class="error"><?php echo $error_zone; ?></span>
												<?php } ?></td>
										</tr>
										<tr>
											<td><?php echo $entry_default; ?></td>
											<td><?php if ($default) { ?>
												<input type="radio" name="default" value="1" checked="checked" />
												<?php echo $text_yes; ?>
												<input type="radio" name="default" value="0" />
												<?php echo $text_no; ?>
												<?php } else { ?>
												<input type="radio" name="default" value="1" />
												<?php echo $text_yes; ?>
												<input type="radio" name="default" value="0" checked="checked" />
												<?php echo $text_no; ?>
												<?php } ?>
											</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="buttons">
									<div class="right">
										<a href="<?php echo $back; ?>" class="button btn btn-primary"><?php echo $button_back; ?></a>
										<input type="submit" value="<?php echo $button_continue; ?>" class="button btn btn-primary" />
									</div>
								</div>
							</form>
							<?php echo $content_bottom; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
<script type="text/javascript"><!--
$('select[name=\'country_id\']').bind('change', function() {
	$.ajax({
		url: 'index.php?route=account/address/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
		},		
		complete: function() {
			$('.wait').remove();
		},			
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#postcode-required').show();
			} else {
				$('#postcode-required').hide();
			}
			
			html = '<option value=""><?php echo $text_select; ?></option>';
			
			if (json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
							html += '<option value="' + json['zone'][i]['zone_id'] + '"';
						
					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
								html += ' selected="selected"';
						}
	
						html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
			}
			
			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
//--></script> 
<?php echo $footer; ?>