<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<content>
	<div id="container" class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 clearfix">
				<div id="content"><?php echo $content_top; ?>
					<div class="content-top-det clearfix">
						<div class="focus clearfix">
							<div class="breadcrumb">
								<?php foreach ($breadcrumbs as $breadcrumb) { ?>
								<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
								<?php } ?>
							</div>
							<h1><?php echo $heading_title; ?></h1>
							<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
								<div class="content">
									<table class="form">
										<tr>
											<td><?php echo $entry_newsletter; ?></td>
											<td><?php if ($newsletter) { ?>
												<input type="radio" name="newsletter" value="1" checked="checked" />
												<?php echo $text_yes; ?>&nbsp;
												<input type="radio" name="newsletter" value="0" />
												<?php echo $text_no; ?>
												<?php } else { ?>
												<input type="radio" name="newsletter" value="1" />
												<?php echo $text_yes; ?>&nbsp;
												<input type="radio" name="newsletter" value="0" checked="checked" />
												<?php echo $text_no; ?>
												<?php } ?>
											</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="buttons">
									<div class="right">
										<a href="<?php echo $back; ?>" class="button btn btn-primary"><?php echo $button_back; ?></a>
										<input type="submit" value="<?php echo $button_continue; ?>" class="button btn btn-primary" />
									</div>
								</div>
							</form>
							<?php echo $content_bottom; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
<?php echo $footer; ?>