<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<content>
	<div id="container" class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 clearfix">
				<div id="content"><?php echo $content_top; ?>
					<div class="content-top-det clearfix">
						<div class="focus clearfix">
							<div class="breadcrumb">
								<?php foreach ($breadcrumbs as $breadcrumb) { ?>
								<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
								<?php } ?>
							</div>
							<h1><?php echo $heading_title; ?></h1>
							<p><?php echo $text_total; ?><b> <?php echo $total; ?></b>.</p>
							<table class="table table-striped">
								<thead>
									<tr>
										<td class="left"><?php echo $column_date_added; ?></td>
										<td class="left"><?php echo $column_description; ?></td>
										<td class="right"><?php echo $column_amount; ?></td>
									</tr>
								</thead>
								<tbody>
									<?php if ($transactions) { ?>
									<?php foreach ($transactions  as $transaction) { ?>
									<tr>
										<td class="left"><?php echo $transaction['date_added']; ?></td>
										<td class="left"><?php echo $transaction['description']; ?></td>
										<td class="right"><?php echo $transaction['amount']; ?></td>
									</tr>
									<?php } ?>
									<?php } else { ?>
									<tr>
										<td class="center" colspan="5"><?php echo $text_empty; ?></td>
									</tr>
									<?php } ?>
								</tbody>
							</table>
							<div class="pagination"><?php echo $pagination; ?></div>
							<div class="buttons">
								<div class="right"><a href="<?php echo $continue; ?>" class="button btn btn-primary"><?php echo $button_continue; ?></a></div>
							</div>
							<?php echo $content_bottom; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
<?php echo $footer; ?>