footer{
	color: $wht;
	margin-top: 55px;
	.main-footer{
		max-width: 1150px;
		margin: auto;
		background: #0d0e13;
		padding: 5px 5px 0;
		margin-top: 1em;
		bottom: 0;
		position: absolute;
		width: 100%;
		.social-media{
			list-style: none;
			padding: 0;
			margin-bottom: 0 !important;
			li{
				display: inline-block;
				padding: 3px;
				a{
					color: #428bca;
					text-decoration: none;
				}
			}
		}
	}
	.footer-nav{
		list-style: none;
		padding: 0;
		text-align: right;
		margin-bottom: 0 !important;
		li{
			display: inline-block;
			padding: 0 10px;
			border-right: 1px solid $wht;
			a{
				color: $wht !important;
			}
		}
	}
	.footer-bottom{
		background-color: $htm;
	}
}