@include font-face(Ornitons-Serial-Light-Regular, 'Ornitons-Serial-Light-Regular.eot', 'Ornitons-Serial-Light-Regular.woff', 'Ornitons-Serial-Light-Regular.ttf');
@include font-face(Baksheesh Bold, 'Baksheesh Bold.eot', 'Baksheesh Bold.woff', 'Baksheesh Bold.ttf');
@include font-face(Kabel-Light, 'Kabel-Light.eot', 'Kabel-Light.woff', 'Kabel-Light.ttf');
body{
	/*@include background-gradient(#cccccc, #ffffff);*/
	/*background-color: $htm;*/
	/*background: url(../../img/background-img.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	&#catalog{
		/*background: url(../../img/bg1.jpg) no-repeat center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;*/
		background: url(../../img/bg.jpg) no-repeat center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*-webkit-filter: blur(2px);*/
		/*filter:alpha(opacity=100);*/
		/*opacity:1.0;*/
	}
	header{
		display: block;
		.header{
			top: 0;
			z-index: 99;
			.menu-top-art{
				margin-top: 10px;
				margin-bottom: 10px;
				.login{
					margin-top: 10px;
					text-align: right;
					a{
						text-align: right;
						color: $htm;
					}
				}
			}
			.head-bg-art{
				.clr-art-wht{
					background-color: $wht;
				}
				.clr-art-ylw{
					background-color: $ylw;
					ul{
						li{
							margin: 0px 5px 0px 5px;
							a{
								font-family: Tahoma;
								color: $wht;
								padding-top: 29px;
								padding-bottom: 29px;
								&:hover{
									background-color: $hvr;
								}
							}
							&:hover{
								background-color: $hvr;
							}
							&.actives{
								background-color: $hvr;
							}
							&.dropdown{
								&:hover{
									.dropdown-menu{
										display:block;
										background-color: $ylw;
										a{
											.desc-art-menu {
												padding: 0px;
												font-size: 12px;
											}
										}
									}
								}
							}
						}
					}
				}
				.clr-art-red{
					background-color: $red;
					ul{
						li{
							margin: 0px 0px 0px 0px;
							a{
								font-family: Tahoma;
								color: $wht;
								padding-top: 29px;
								padding-bottom: 29px;
								&:hover{
									background-color: $wht;
								}
							}
							&:hover{
								background-color: $wht;
								a{
									color: $htm;
								}
							}
							&.actives{
								background-color: $wht;
								a{
									color: $htm;
								}
							}
							&.dropdown{
								&:hover{
									.dropdown-menu{
										display:block;
										background-color: $red;
										li{
											a{
												color: $wht;
												.desc-art-menu {
													padding: 0px;
													font-size: 12px;
												}
												&:hover{
													color: $htm;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.center-img-art{
				.img-header{
					img{
						&.top-img{
							width: 100%;
							position: absolute;
							top: -135px;
							z-index: -9;
						}
					}
				}
			}
		}
	}
}
.btn-search-art{
	background-color: $htm;
	color: $wht;
	border-color: $htm;
	text-align: right;
}
.btn-category-art{
	background-color: $blu;
	color: $wht;
	padding: 6px 20px;
	border-color: $blu;
	&:hover{
		color: $wht;
		background-color: #68c3ff;
		border-color: #68c3ff;
	}
}

.btn-category-art-line{
	background-color: #353535;
	color: $wht;
	padding: 2px 10px;
	border-color: #353535;
	&:hover{
		color: $wht;
		background-color: #a39c9c;
		border-color: #a39c9c;
	}
}

.btn-red-art-line{
	background-color: #e30000;
	color: $wht;
	padding: 2px 50px;
	border-color: #e30000;
	&:hover{
		color: $wht;
		background-color: #fb4848;
		border-color: #fb4848;
	}
}

.pagination{
	li{
		a{
			&.pagination-art{
				background: $htm;
				padding: 5px 10px;
				display: block;
				color: $wht;
				margin: 0px 2px;
			}
			&:hover{
				background-color: #ffcc00;
				color: $wht;
			}
		}
	}
}

.line-separator{
	height:1px;
	background:#dfdfdf;
	border-bottom:1px solid #dfdfdf;
}