@media only screen and (max-width: 1180px) and (min-width: 993px) {
	content{
		.focus{
			.list-detail-img{
				margin-left: 5px !important;
			}
		}
	}
}

@media only screen and (max-width: 992px) and (min-width: 860px) {
}

@media only screen and (max-width: 859px) and (min-width: 800px) {
}

@media only screen and (max-width: 799px) and (min-width: 768px) {
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
	header{
		display: block;
		.header{
			.head-bg-art{
				.clr-art-red{
					.navbar-nav{
						float: left !important;
						font-size: 13px;
						li{
							a{
								padding: 11px 15px !important;
								margin-top: 5px;
							}
							&.actives{
								a{
									font-size: 11px;
									margin-top: 5px;
								}
							}
							&.dropdown{
								margin-top: 5px;
								&:hover{
									.dropdown-menu{
										li{
											a{
												font-size: 13px;
												.desc-art-menu {
													padding: 0px;
													font-size: 13px;
												}
												&:hover{
													color: $htm;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.menu-mobile{
					display: inline-block !important;
					background-color: $red;
					border-color: $wht !important;
					.icon-bar{
						background-color: $wht !important;
					}
				}
			}
			.menu-top-art{
				.login{
					a{
						text-align: left !important;
						margin-right: 15px;
					}
				}
			}
		}
	}
	.btn-search-art{
		margin-top: 4px;
		text-align: right;
	}
	.form-control{
		margin-top: 8px;
	}
}

@media only screen and (max-width: 499px) and (min-width: 321px) {
	header{
		display: block;
		.header{
			.head-bg-art{
				.clr-art-red{
					.navbar-nav{
						float: left !important;
						font-size: 13px;
						li{
							a{
								padding: 11px 15px !important;
								margin-top: 5px;
							}
							&.actives{
								a{
									font-size: 11px;
									margin-top: 5px;
								}
							}
							&.dropdown{
								margin-top: 5px;
								&:hover{
									.dropdown-menu{
										li{
											a{
												font-size: 13px;
												.desc-art-menu {
													padding: 0px;
													font-size: 13px;
												}
												&:hover{
													color: $htm;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.menu-mobile{
					display: inline-block !important;
					background-color: $red;
					border-color: $wht !important;
					.icon-bar{
						background-color: $wht !important;
					}
				}
			}
			.menu-top-art{
				.login{
					a{
						text-align: left !important;
						margin-right: 15px;
					}
				}
			}
		}
	}
	.btn-search-art{
		margin-top: 4px;
		text-align: right;
	}
	.form-control{
		margin-top: 8px;
	}
}

@media only screen and (max-width: 320px) and (min-width: 0px) {
	header{
		display: block;
		.header{
			.head-bg-art{
				.clr-art-red{
					.navbar-nav{
						float: left !important;
						font-size: 13px;
						li{
							a{
								padding: 11px 15px !important;
								margin-top: 5px;
							}
							&.actives{
								a{
									font-size: 11px;
									margin-top: 5px;
								}
							}
							&.dropdown{
								margin-top: 5px;
								&:hover{
									.dropdown-menu{
										li{
											a{
												font-size: 13px;
												.desc-art-menu {
													padding: 0px;
													font-size: 13px;
												}
												&:hover{
													color: $htm;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.menu-mobile{
					display: inline-block !important;
					background-color: $red;
					border-color: $wht !important;
					.icon-bar{
						background-color: $wht !important;
					}
				}
			}
			.menu-top-art{
				.login{
					a{
						text-align: left !important;
						margin-right: 15px;
					}
				}
			}
		}
	}
	content{
		.focus-top{
			padding: 5px 0px;
			background-color: #75777c;
			.category-list-line{
				padding: 8px 10px;
				.btn-category-art-line{
					float: left !important;
					margin-right: 5px;
					margin-bottom: 5px;
				}
			}
		}
		.focus{
			.inf-img{
				text-align: center !important;
				.detail-img{
					width: 220px;
					height: 210px;
				}
				.art-desc-img{
					margin-top: 20px;
					font-family: Tahoma;
					font-size: 11px;
					margin-bottom: 55px;
				}
			}
			.list-detail-img{
				width: 122px;
				.list-img{
					text-align: center !important;
					margin-left: 55px !important;
				}
			}
		}
	}
	footer{
		.footer-nav{
			text-align: center;
		}
	}
	.btn-search-art{
		margin-top: 4px;
		text-align: right;
	}
	.form-control{
		margin-top: 8px;
	}
}