content{
	.slides{
		.carousel-art{
			left: 8%;
			bottom: 60px;
			h1{
				&.title{
					background-color: $grw;
					text-align: left;
					padding: 5px 30px;
					width: 50%;
				}
			}
			span{
				&.desc{
					background-color: $grw;
					text-align: left;
					padding: 5px 30px;
					width: 85%;
					display: block;
					font-size: 20px
				}
			}
		}
	}
	.page-content{
		position: absolute;
		z-index: 9;
		top: 200px;
		.content{
			.ul-tab-art{
				.li-tab-art{
					a{
						font-family: times new roman;
						color: $htm;
						background-color: #cccccc;
						padding: 13px 45px;
						border-radius: 0px;
						font-size: 2.4rem;
					}
					&.active{
						a{
							background-color: $wht;
						}
					}
					&:hover{
						border: none;
						border-radius: 0px;
					}
				}
			}
			.tab-content{
				padding: 35px;
				background-color: $wht;
				.tab-pane{
					.loop-gall{
						margin: 0px 0px 50px 0px !important;
						.link-det-img{
							text-decoration: none;
							.img-det{
								width: 100%;
							}
							.shrt-desc-img{
								color: $htm;
								margin-top: 10px;
								&:hover{
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
	.colection{
		margin-top: 18%;
		.content{
			.ul-tab-art{
				background-color: rgba(0,0,0,0.6);
				li{
					&.li-tab-art{
						/*background-color: rgba(0,0,0,0.6);*/
						.a-tab-art{
							margin-right: 0px;
							line-height: 1.42857;
							font-size: 1.8rem;
							text-align: center;
							min-height: 43px !important;
							font-family: 'Estrangelo Edessa' !important;
							border-radius: 0 !important;
							padding: 10px 60px;
							color: $wht;
							&:hover{
								background-color:$wht;
								color: $htm;
							}
						}
					}
					&.active{
						.a-tab-art{
							color: $htm;
						}
					}
				}
			}
			.tab-content{
				padding: 24px;
				background-color: $wht;
				.tab-pane{
					.cat-gall{
						margin-bottom: 30px;
					}
					.loop-gall{
						margin-top: 3em;
						background: url(../../img/sadhow2.png) no-repeat top;
						background-position-y: -4%;
						.img-det{
							margin-top: 2px;
						}
					}
					.gall-pagination{
						margin-top: 20px;
						padding-right: 50px;
					}
				}
			}
		}
	}
	.focus{
		padding: 24px 24px 0px 24px;
		background-color: $wht;
		.content-top-det{
			.shere{
				margin: 0px 5px;
			}
		}
		.inf-img{
			margin-top: 50px;
			.list-detail-img{
				.list-img{
					margin: 5px 3px;
					padding:1px;
					border:1px solid #dfdfdf;
				}
			}
			.price{
				font-family:Ornitons-Serial-Light-Regular;
				font-size: 4rem;
				display: block;
				text-align: right;
			}
			.desc-price{
				font-family: Baksheesh Bold;
				display: block;
				text-align: right;
				font-weight: bold;
			}
			.size{
				margin-top: 10px;
				text-align: right;
				span{
					font-family: Kabel-Light;
				}
				select{
					padding: 5px 0px;
				}
			}
			.det-btn{
				text-align: right;
				margin-top: 20px;
			}
			.art-desc-img{
				margin-top: 20px;
				font-family: Tahoma;
				font-size: 13px;
			}
		}
	}
	.focus-top{
		padding: 5px 0px;
		background-color: #75777c;
		.category-list-line{
			padding: 8px 20px;
			background-color: #75777c;
			list-style: none;
			line-height: 2;
		}
	}
}