body header .header .head-bg-art .clr-art-red ul li {
	margin: 0px;
}
content .focus .inf-img .image-additional .list-img {
	margin: 5px 3px;
	padding: 1px;
	border: 1px solid #dfdfdf;
}
content .focus .inf-img .tab-content{
	margin-top: 20px;
}
content .focus .inf-img {
	margin-top: 0px;
}
content .img-det{
	margin-top: 10px;
	margin-left: 0;
	width: 20em;
}
content .img-det .img{
	margin-top: 10px;
	margin-left: 0;
	width: auto;
}
content .pros{
	margin-left: -2em;
}
content .focus .inf-img {
	margin-top: 0px;
	background: white;
}
content .focus-top .category-list-line {
	padding: 8px 20px;
	background-color: #FFFFFF;
	list-style: none;
	line-height: 2;
	border
}
content .focus-top {
	padding: 5px 0;
	background-color: #FFFFFF;
}
content .btn-category-art-line {
	background-color: #09f;
	color: #FFF;
	padding: 2px 10px;
	border-color: #09f;
}
content .btn-category-art-line:hover {
	background-color: #4BB7FF;
	color: #FFF;
	padding: 2px 10px;
	border-color: #4BB7FF;
}
content .nav-tabs {
	border-bottom: 1px solid #fff;
	/*background: rgba(0, 0, 0, 0.85);*/
	background-color: rgba(0,0,0,.3);
	width: 100% !important;
}
content .nav-tabs>li>a {
	margin-right: 0px;
	line-height: 1.42857;
	border-bottom: 1px solid #ddd;
	/*border-radius: 0px 0px 0 0;*/
	border-radius: 0!important;
	background: rgba(0, 0, 0, 0.01);
	color: white;
	font-size: 1.8rem;
	text-align: center;
	min-height: 43px!important;
	font-family: 'Estrangelo Edessa'!important;
	padding: 10px 60px;
}
content .nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #FFF;
	color: black;
}
content .img-det {
	margin-top: 0px;
	max-width: 100%;
	/*max-width: 244px !important;*/
}
content .focus {
	padding-top: 0px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
/*content .login-content .right .content .form-control{
	width: 151px;
}*/
.form-control{
	width: 151px;
}
content .box{
	margin-top: 10px;
	/*border: 1px solid;*/
	margin-right: 10px;
}
content .box .box-heading{
	padding-left: 5px;
}
content .col-md-11 {
	width: 86.66667%;
}
content .gall-pagination .pagination .links .btn{
	background-color: #8B9798;
	color: #fff;
	margin-bottom: 5px;
}
content .gall-pagination .pagination .links .btn:hover{
	background-color: #E74C3C;
	color: #fff;
}
content .content-top-det .focus > h2{
	/*padding-left: 40px;*/
}
content .content-top-det .focus .content > ul{
	padding-left: 80px;
}
.dropdown-menu{
	padding: 0px;
}
.tabel{
	width: 385px;
}
.nav-tabs{
	/*margin-left: 24px;*/
	width: 100%;
}
/* arya update */
.focus-top.clearfix.limit{
	padding-left: 5px;
	padding-right: 5px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 5px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}

.cart-total {
	/*border-top: 1px solid #DDDDDD;*/
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
#cart-total{
	color: #000;
}
.cart-total table {
	float: right;
}
.cart-total td {
	/*padding: 3px;*/
	text-align: right;
}

.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	/*width: 48%;*/
}
.checkout-content .right {
	float: right;
	/*width: 48%;*/
}
.checkout-content .buttons {
	clear: both;
}

.links a {
	color: #000;
}
.links {
	margin-top: 10px;
}
.focus-normalize {
	/*margin-left: -24px !important;
	margin-right: -24px !important;*/
}
/*body header .header .head-bg-art .clr-art-red ul li.dropdown.open .dropdown-menu {
	display: block;
	background-color: #e30000;
}
li.dropdown.open a.dropdown-toggle{
	color: #000 !important;
}*/
.login {
	color: #000;
}
.login a{
	color: #000;
}
#cart {
	position: absolute;
	top: 0px;
	/*right: 145px;*/
	z-index: 9;
	min-width: 250px;
}
#cart .heading {
	float: left;
	/*margin-right: 172px;*/
	/*margin-top: 15px;*/
	padding-left: 14px;
	padding-right: 14px;
	/*border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #fff;
	background: #FFF;*/
	position: relative;
	z-index: 1;
}

#cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#cart .heading a span {
	/*background: #FFFFFF url('../../image/arrow-down.png') 100% 50% no-repeat;*/
	background: url('../../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#cart .content {
	clear: both;
	display: none;
	float: left;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	/*-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
	background: #ECECEC;
}
#cart.active .heading {
	margin-top: 0px;
	/*padding-top: 10px;*/
	padding-bottom: 6px;
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	background-color: #ECECEC;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#cart.active .content {
	display: block;
}
/*.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #fff;
}*/
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #fff;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .name {
	max-width: 80px;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
/*.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}*/
#cart .checkout {
	text-align: right;
	clear: both;
}
#cart .empty {
	padding-top: 50px;
	text-align: center;
}
#cart-mobile {
	display: none !important;
}
/*responsive arya*/
@media only screen and (max-width: 320px) and (min-width: 0px) {
	footer {
		margin-top: 140px;
	}
	#cart {
		display: none !important;
	}
	#cart-mobile {
		right: 0px;
	}
	#cart-mobile {
		display: block !important;
	}
}
/*responsive arya*/
.gall-pagination  .pagination .links .btn.pag-aktif {
	background-color: #E74C3C;
	color: #fff;
}
input[type="radio"] {
	margin-left: 0px !important;
}
body header .header .center-img-art .img-header img.top-img {
	width: 100%;
	position: relative;
	top: -135px;
	z-index: -9;
}
.img-header {
	margin-bottom: -200px;
}
li.cat-module {
	display: inline;
}
ul.cat-module-child {
	margin-top: 10px;
}
.cat-module-child li a:hover {
	background-color: #09f;
	color: #FFF;
	border-color: #09f;
}
.cat-module-child li .active {
	background-color: #09f;
	color: #FFF;
	border-color: #09f;
}
.center-img-art {
	margin-bottom: -29px;
}
.product-filter {
	padding-bottom: 15px;
}
input.large-field, select.large-field {
	width: 300px;
}
.loop-gall {
	margin-top: 3em;
	/*background: url(../img/sadhow2.png) no-repeat top;
	background-position-y: -2%;*/
}
a.btn.btn-category-art {
	margin-top: 5px;
}
.carousel .item {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.btn-category-art {
background-color: #09f;
color: #FFF;
padding: 5px 10px;
border-color: #09f;
}
.cart-header {
	right: 47%;
}
#logo img {
margin-right: 40px;
}
body header .header .head-bg-art .clr-art-red {
/*background-color: #e30000;*/
background-color: rgba(0,0,0,.56);
}
body header .header .head-bg-art .clr-art-red ul li.dropdown:hover .dropdown-menu {
background-color: rgba(0,0,0,.56);
}
header .header .head-bg-art .menu-mobile {
background-color: rgba(0,0,0,.56);
}
li.actives a {
color: #000 !important;
}
.form-inline.pull-right.cari {
margin-top: 21px;
}
.login-top {
margin-top: 28px;
/*color: #fff;*/
}
.login-top a {
color: #d9534f;
}
input.form-control.cari {
max-width: 111px;
}
input.large-cari {
width: 180px;
}
#cart {
	/*top: 15px;
	left: 25%;*/
}
li.cari.pull-right {
top: 6px;
right: 40px;
}
.clr-art-wht {
    background-color: #FFFFFF; 
}
.menu-top-art {
    margin-top: 10px;
    margin-bottom: 10px; 
}
body header .header .head-bg-art .clr-art-red ul li a {
padding-top: 18px;
padding-bottom: 18px; }
.head-cart {
font-size: 20px;
}
.login-link {
margin-top: 9px;
}

.inline-filter > li{
	display: inline-table;	
	width: 20%;
}
.inline-filter > li #button-filter{
	padding: 7px 15px;
	font-size: 13px;
    font-weight: bold;
}
.inline-filter > .expanded{
	position: relative;
}
.inline-filter > .expanded > a{
	display: block;
	cursor: pointer;
	color: #fff;
    display: inline-block;    
    width: 100%;
    border-radius: 4px;
}
.inline-filter > .expanded .submuneu{
	position: absolute;
	z-index: 999;
	background-color: #ECECEC;
	width: 100%;
}
ul.box-filter > li > ul > li{
	background-image: none;
	list-style: none;
	left: 0px;
	margin-left: 5px;
}
ul.box-filter.inline-filter {
padding: 0px;
}
.right {
float: right;
right: 0;
}
ul.submuneu {
padding: 0;
}
/*#button-filter {
padding-top: 6px;
padding-bottom: 7px;
}*/
#button-filter {
	cursor: pointer;
	border-radius: 4px;
}
a.on.btn-category-art:hover {
    text-decoration: none;
    color: #333;
}
a#button-filter:hover {
    text-decoration: none;
    color: #333;
}
.btn-monza-art {
background-color: #E74C3C;
color: #FFF;
padding: 5px 10px;
border-color: #E74C3C;
}
h4.product-name {
	color: #333;
	text-decoration: none;
}
.inline-filter li.expanded a:hover {
	color: #333;
	text-decoration: none;
}
div#logo {
margin-left: 12px;
}
footer .main-footer {
    background-color: rgba(0,0,0,.56) !important;
}
.filter-product {
padding-left: 45px;
}
.size-onpage {
	padding-right: 15px;
	padding-top: 10px;
}
.text-cinnabar-red {
	color: #E74C3C;
}
.ngg-gallery-thumbnail a img {
    border: 1px solid #A9A9A9;
    padding: 4px;
    position: relative;
}

.ngg-gallery-thumbnail a img:hover {
    background-color: #A9A9A9;
}
.lineup-heading {
	padding-left: 35px;
}
footer {
	margin-top: 33px !important;
}
.my-account{
	padding-left: 0px !important;
	list-style: none !important;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
	.filter-product {
		padding-left: 20px;
	}
	li.cat-module a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.size-onpage {
	padding-right: 0px;
	margin-left: -15px;
	margin-right: -15px
	}
}
@media only screen and (max-width: 768px) and (min-width: 569px) {
	.top-search {
		margin-top: 35px;
		float: right;
	}
	.cart-on-top {
		margin-top: 40px;
		left: -10px;
		float: left;
		position: absolute;
	}
	body header .header .head-bg-art .clr-art-wht {
		padding-bottom: 10px;
	}
	.box.filter-product {
		margin-top: 91px;
	}
	.filter-product {
		padding-left: 20px;
	}
	.focus-top.clearfix.limit {
		padding-left: 0px;
		padding-right: 0px;
	}
	ul.box-filter.inline-filter li.expanded {
		/*display: list-item;*/
		/*list-style: none;*/
		margin: -5px 0px 5px 0px;
		/*width: 100%;*/
	}
	ul.box-filter.inline-filter a {
		margin: 2px 0px 2px 0px;
	}
}
@media only screen and (max-width: 480px) and (min-width: 321px) {
	.cat-drop-down ul li span, .cat-drop-down ul li i {
	margin-left: 252px !important;
	}
	content .focus .inf-img .size {
	text-align: left;
	}
	li.li-tab-art {
		width: 100%;
	}
	li.li-tab-art.active {
		width: 100%;
	}
	.cat-dropdown {
		float: left!important;
	}
	.nav-tabs {
		width: 83% !important;
		margin-top: 75px;
	}
	.box.filter-product {
	margin-top: 91px;
	}
	.filter-product {
		padding-left: 20px;
	}
	.focus-top.clearfix.limit {
		padding-left: 0px;
		padding-right: 0px;
	}
	ul.box-filter.inline-filter li.expanded {
		display: list-item;
		list-style: none;
		margin: -5px 0px 5px 0px;
		width: 100%;
	}
	ul.box-filter.inline-filter a {
		margin: 2px 0px 2px 0px;
	}
	#cart {
		display: none !important;
	}
	#cart-mobile {
		right: 0px;
	}
	#cart-mobile {
		display: block !important;
	}
	footer {
		margin-top: 52px !important;
	}
	.top-search {
		margin-top: 35px;
		float: right;
	}
	.cart-on-top {
		margin-top: 0px;
		float: left;
	}
	body header .header .head-bg-art .clr-art-wht {
		padding-bottom: 10px;
	}
	.limit-pr-data {
		margin-left: -45px;
		margin-right: -20px;
	}
	footer .footer-nav {
	text-align: center;
	}
	footer .main-footer .social-media {
	text-align: center;
	}
	.size-onpage {
		padding-right: 30px;
	}
	content .focus-top .category-list-line {
		padding-right: 0px !important;
	}
}
@media only screen and (max-width: 568px) and (min-width: 481px) {
	content .focus .inf-img .size {
	text-align: left;
	}
	li.li-tab-art {
		width: 100%;
	}
	li.li-tab-art.active {
		width: 100%;
	}
	.cat-dropdown {
		float: left!important;
	}
	.nav-tabs {
		width: 83% !important;
		margin-top: 75px;
	}
	.box.filter-product {
	margin-top: 91px;
	}
	.filter-product {
		padding-left: 20px;
	}
	.focus-top.clearfix.limit {
		padding-left: 0px;
		padding-right: 0px;
	}
	ul.box-filter.inline-filter li.expanded {
		display: list-item;
		list-style: none;
		margin: -5px 0px 5px 0px;
		width: 100%;
	}
	ul.box-filter.inline-filter a {
		margin: 2px 0px 2px 0px;
	}
	#cart {
		display: none !important;
	}
	#cart-mobile {
		right: 0px;
	}
	#cart-mobile {
		display: block !important;
	}
	footer {
		margin-top: 52px !important;
	}
	.top-search {
		margin-top: 35px;
		float: right;
	}
	.cart-on-top {
		margin-top: 0px;
		float: left;
	}
	body header .header .head-bg-art .clr-art-wht {
		padding-bottom: 10px;
	}
	.limit-pr-data {
		margin-left: -45px;
		margin-right: -20px;
	}
	footer .footer-nav {
	text-align: center;
	}
	footer .main-footer .social-media {
	text-align: center;
	}
	.size-onpage {
		padding-right: 30px;
	}
	content .focus-top .category-list-line {
		padding-right: 0px !important;
	}
	.cat-drop-down ul li span, .cat-drop-down ul li i {
	margin-left: 339px !important;
	}
	ul a#button-filter {
		float: right;
		margin-top: -4px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 320px) and (min-width: 0px) {
	content .focus .inf-img .size {
	text-align: left;
	}
	li.li-tab-art {
		width: 100%;
	}
	.cat-dropdown {
		float: left!important;
	}
	.nav-tabs {
		width: 83% !important;
		margin-top: 75px;
	}
	li.li-tab-art.active {
		width: 100%;
	}
	.img-header {
		margin-top: 135px;
	}
	.nav>li>a:hover {
		width: 237px;
	}
	footer {
	margin-top: -14px !important;
	}
	footer .main-footer {
	position: relative !important;
	}
	#cart-mobile {
		margin-top: 10px;
	}
	input.large-field, select.large-field {
		max-width: 135px;
	}
	.inline-filter > li {
		list-style: none;
		margin-top: 5px;
		display: list-item;
		width: 100%;
	}
	li.cat-module {
		display: list-item;
		list-style: none;
		margin-top: 2px;
		float: left;
		width: 100%;
	}
	li.cat-module a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.size-onpage {
		padding-right: 0px !important;
	}
	.filter-product {
	 	padding-left: 0px; 
	}
	.box.filter-product {
		margin-top: 60px;
	}
	/*.category-list-line.clearfix.box-category {
		margin-left: -50px;
	}*/
	.size.form-inline.size-onpage .form-group label {
		float: left;
	}
	span.desc-price {
		margin-top: 10px;
	}
	/*.category-list-line.clearfix.box-category {
		margin-left: -15px;
	}*/
	input.large-field, select.large-field {
		max-width: 110px;
	}
	.top-search {
	margin-top: 10px;
	float: left;
	}
	.cart-on-top {
	margin-top: 0px;
	float: left;
	}
	body header .header .head-bg-art .clr-art-wht {
		padding-bottom: 10px;
	}
	footer .footer-nav {
	text-align: center;
	}
	footer .footer-nav {
	text-align: center;
	}
	footer .main-footer .social-media {
	text-align: center;
	}
	.limit-pr-data {
	margin-right: 10px;
	margin-top: 10px;
	}
	.btn-shopping {
	margin-bottom: 5px;
	}
	.checkout-heading a {
		float: none !important;
		font-weight: bold;
		margin: 0px 0px 0px 10px !important;
		display: inline;
		padding: 0.2em 0.6em 0.3em;
		font-size: 75%;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25em;
		background-color: #EF4836;
	}
	.btn-address-edit {
	margin-bottom: 10px;
	}
	ul.box-filter.inline-filter a#button-filter {
		display: list-item;
		margin-top: 5px;
		/*max-width: 50%;*/
	}
	.category-list-line {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	content .box.category-bx {
		margin-top: -15px !important;
	}
	a#button-filter i {
	float: right;
	}
}
.checkout-content .right-login {
	float: right;
	width: 48%; 
}
.checkout-content .left-login {
	float: left;
	width: 48%; 
}
.cat-dr-list {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
/*table responsive*/
 
/*@media only screen and (max-width: 800px) {	*/
@media only screen and (max-width: 600px) {	
	.flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.flip-scroll * html .cf { zoom: 1; }
	.flip-scroll *:first-child+html .cf { zoom: 1; }	
	.flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; } 
	.flip-scroll th,
	.flip-scroll td { margin: 0; vertical-align: top; }
	.flip-scroll th { text-align: left; }	
	.flip-scroll table { display: block; position: relative; width: 100%; }
	.flip-scroll thead { display: block; float: left; }
	.flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.flip-scroll tfoot { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.flip-scroll thead tr { display: block; }
	.flip-scroll th { display: block; text-align: right; }
	.flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	.flip-scroll tfoot tr { display: inline-block; vertical-align: top; }
	.flip-scroll td { display: block; min-height: 4.5em; text-align: left; } 
	/* sort out borders */ 
	.flip-scroll th { border-bottom: 0; border-left: 0; }
	.flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
	.flip-scroll tbody tr { border-left: 1px solid #babcbf; }
	.flip-scroll th:last-child,
	.flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }

	/* Force table to not be like tables anymore */
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	} 
	.no-more-tables tr { border: 1px solid #ccc; } 
	.no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	} 
	.no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	} 
	/*
	Label the data
	*/
	.no-more-tables td:before { content: attr(data-title); }
}
select#menu-select {
	width: 100%;
	background-color: rgba(0,0,0,.56);
	color: #fff;
	border: none;
	min-height: 35px;
}		
/*end table responsive*/

.cat-drop-down ul{
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display:block;
	z-index:990;
}
	
.cat-drop-down ul li span, .cat-drop-down ul li i{
	margin-left: 111px;
}
.cat-drop-down ul li {
	float:left;
	/*display:list-item;*/
	display:-webkit-inline-box;
	list-style: none;
	padding: 0px 0px 0px 10px;
	width: 100%;
	}

.cat-drop-down ul li a {
	display:block;
}	
	
.cat-drop-down ul ul {
	display: none;
	position: absolute;
	margin-top: 0px;
	left: 0px;
}
.cat-drop-down ul li:hover > ul {
	display:list-item;
}
	
.cat-drop-down ul ul li a{
	padding: 0px 0px 0px 10px;
}
.cat-drop-down ul ul li {
	float:left;
	position: relative;
	border-bottom:none;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
	text-align: left;
}

.cat-drop-down ul ul ul li {
	position: absolute relative;
	top:-58px; 
	left:170px;
}

ul a#button-filter {
	display: inline-table;
	padding: 5px;
}

span.info_price, span.info_price a {
	text-align: right;
	font-weight: 700;
	font-family: inherit !important;
}

.watch{
width: 384px;
height: 500px;
background: url("../img/watch.png") left bottom no-repeat;
float: left;
margin-right: 30px;
}

.rest{
width: 526px;
float: left;
}

.clear-top {
	margin-top: 80px;
}

h2.soon{
color: #396f90;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
font-size: 65px;
font-weight: 700;
line-height: 55px;
letter-spacing: -2px;
margin-bottom: 20px;
}

h2.soon span{
font-size: 25px;
font-weight: 300;
letter-spacing: 0;
}
footer .footer-nav li#last-footer{
	border-right: none !important;
}
/* end arya update */